extends layout

block content
    h1= title

    form(name="blog-post", action="/blog/add", method="post", class="add-blog-post-form")
        label(for="title") Title:
            input(type="text", name="title")
        label(for="date") Date:
            input(type="text", name="date")
        label(for="body") Post:
            textarea(name="body")
        label(for="url") Url:
            input(type="text", name="url")
        input(type="submit", value="submit")

    div= data
