extends layout

block content
    h1= title

    form(name="blog-post", action="/blog/#{url}/edit", method="post", class="form")
        label(for="title") Title:
        input(type="text", name="title" value= title)
        label(for="date") Date:
        input(type="text", name="date" value= date)
        label(for="body") Post:
        textarea(name="body") #{body}
        label(for="url") Url:
        input(type="text", name="url" value= url)
        button(type="submit") submit
