extends layout

block content
    h1= title
    
    a(href="img/hello_summer_right_rail-neverland.jpg" target="_blank"): img(src="img/hello_summer_right_rail-neverland.jpg" width="30" height="54")

    form(name="email", action="/", method="post")
          input(type="text", name="email")
          input(type="submit", value="submit")

    div= data
